body {
    background-color: #131e33;
}

h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(175, 209, 238);
    padding: 50px;
    font-size: 2.25em;
}

p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    margin:auto;
    padding: 20px;
}

.centerblock {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(175, 209, 238);
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: #131e33;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-image: url('/assets/bluemountain.jpg');
    background-size: cover;
    background-position: center;
    color: #131e33;
}

ul li a#bob:hover {
    background-image: url('https://media.tenor.com/cH5ZZ-QGAN8AAAAe/shrek.png');
    background-size: cover;
    background-position: center;
    color: white;
}